/* Sidebar */
.sidebar-card{
    margin-top:2em;
    margin-bottom: 2em;
    border-radius: 0.25rem;
}

.sidebar-card > .card-header:not(:first-of-type){
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar-card > .card-header > .nav-link {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color : black;
}

.sidebar-card > .card-header > .nav-link > span{
    margin-right:.2em;
}

.check-all{
    text-decoration: none;
    color : black;
    cursor: pointer;
}

.sidebar-sub-list {
    padding: 12px;
    background: #fff;
}

.sidebar-option {
    display: block;
    padding: .2em .5em;
}
