/* Header */
header{
    height:3.5em;
    background : white;
}

header > nav{
    background : white;
}

.header-title{
    color: black;
    font-size: 1.3em;
    font-weight : 700;
    text-decoration: none;
}

/* 특정 해상도에서 요소 반응 */
@media screen and (max-width: 455px) {
    header {
        height: 3.5em;
    }
    /* 로고 */
    header > .navbar-brand {
        font-size: 1.05em;
    }
}